:root {
  --radius-xs: var(--size-1); // 4px
  --radius-s: var(--size-2); // 8px
  --radius-m: var(--size-3); // 12px
  --radius-l: var(--size-4); // 16px
  --radius-xl: var(--size-7); // 28px
  --radius-full: 9999px;
}
