@import "./styles/colors";
@import "./styles/radius";
@import "./styles/sizes";
@import "./styles/typography";

@layer reset, base;

@layer reset {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  button {
    border: none;
  }
}

@layer base {
  :root {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
  }

  @for $level from 1 through 6 {
    h#{$level} {
      color: var(--text-primary);
    }
  }

  * {
    @extend .text-small;
  }

  h4 {
    @extend .heading-4;
  }

  h6 {
    @extend .heading-6;
  }
}
